# Render / Production
SECRET_KEY=change_me_long_random_secret
JWT_SECRET=change_me_long_random_jwt_secret
APP_BASE_URL=https://your-render-url.onrender.com
DATABASE_URL=postgresql://user:password@host:5432/dbname

# FedaPay
FEDAPAY_PUBLIC_KEY=pk_sandbox_xxx
FEDAPAY_SECRET_KEY=sk_sandbox_xxx
FEDAPAY_ENV=sandbox
FEDAPAY_WEBHOOK_SECRET=

# Support
SUPPORT_EMAIL=joelkpeto204@gmail.com
SUPPORT_PHONE=99424087
